.budgetMe__header {
	display: flex;
	flex-direction: row;
	position: relative;
}

.budgetMe__header-content {
	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;

	width: 100vw;
	min-height: calc(100vh - 18rem);
}

.budgetMe__header-content h1 {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 6.4rem;
	line-height: 8rem;
	text-align: center;
	width: 90rem;

	margin-top: 1rem;
}

.budgetMe__header-content p {
	font-family: var(--font-family);
	font-weight: 500;
	color: #fff;
	font-size: 1.5rem;
}

.budgetMe__header-content h3 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 2.4rem;
	width: 70rem;

	white-space: nowrap;

	text-align: center;

	color: #fff;

	margin-top: 3rem;
	margin-bottom: 7.2rem;
}

/* button */

.budgetMe__header-content button {
	position: relative;
	background: transparent;
	color: #fff;
	font-family: var(--font-family);
	font-weight: 500;
	line-height: 2.5rem;

	width: 30rem;
	height: 5rem;

	text-decoration: none;
	text-transform: capitalize;
	border: solid;
	border-color: white;
	border-width: 0.3rem;
	border-radius: 1.5rem;

	letter-spacing: 0.3rem;
	font-size: 1.5rem;
	padding: 0.5rem 2rem;
	transition: 0.3s ease;

	cursor: pointer;
}

.budgetMe__header-content button:hover {
	letter-spacing: 1rem;
	background: transparent;
	color: #39ff14;
	border-color: #39ff14;

	animation: box 3s infinite;
}

/* image 1 */

.budgetMe__header-img1 img {
	position: absolute;

	margin-top: 0.5rem;
	right: 7%;
	height: 25rem;
	width: 25rem;
}

.budgetMe__header-img2 img {
	position: absolute;

	left: 7%;
	bottom: 7%;
	height: 20rem;
	right: 0;
	width: 23rem;
}

.budgetMe__header-star {
	position: absolute;
	right: 80%;
	top: 40%;
	left: 18%;
}

.budgetMe__header-blob img {
	position: absolute;

	width: 25rem;
	margin-bottom: 0.5rem;
	right: 7%;
	bottom: 7%;
}

.float {
	animation-name: ani-float;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes ani-float {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
