.budgetMe__features {
	display: flex;
	position: relative;
	/* min-height: 100vh; */
	/* width: 100vw; */
	height: 200vh;
	align-items: center;
	justify-content: center;
}

.budgetMe__features-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	width: 100%;
}

.budgetMe__features-content {
	margin-right: 10rem;
	margin-left: 5rem;
}

.budgetMe__features-image {
	display: flex;

	justify-content: flex-end;
	align-items: center;
	margin-left: 10rem;
	margin-right: 0rem;
	margin-top: 0em;

	width: 100%;
}

/* 
.budgetMe__features-image img {
	width: 63rem;
	height: 63rem;
} */

.budgetMe__features-content h4 {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #c7ddd1;
}

.budgetMe__features-content h1 {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 800;
	font-size: 34px;
	line-height: 45px;
	margin: 1rem 0;
	color: #fff;
}
.budgetMe__features-content p {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;

	color: #fff;

	margin-bottom: 2rem;
}

/* #one {
	top: 10rem;
	left: -60%;
} */

/* #one {
	top: 3em;
	left: 5em;
} */

#stick {
	/* position: sticky;

	top: 0; */
	/* margin-bottom: 20rem; */
	/* position: relative;
	top: 0em; */
	/* bottom: 10em; */

	position: relative;
	top: -400px;
}

#one {
	position: relative;
	top: -200px;
}

#two {
	position: relative;
	top: 300px;
}

#three {
	position: relative;
	top: 900px;
}
