.budgetMe__features {
	display: flex;
	position: relative;
	height: 270vh;
	align-items: center;
	justify-content: center;
}

.budgetMe__features-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	width: 100%;
}

.budgetMe__features-content {
	margin-right: 10rem;
	margin-left: 5rem;
}

.budgetMe__features-image {
	display: flex;

	justify-content: flex-end;
	align-items: center;
	margin-left: 10rem;
	margin-right: 0rem;
	margin-top: 0em;

	width: 100%;
}

.budgetMe__features-content h4 {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #c7ddd1;
}

.budgetMe__features-content h1 {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 55px;
	text-transform: capitalize;

	margin: 1rem 0;
	color: #fff;
}
.budgetMe__features-content p {
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;

	color: #fff;

	margin-bottom: 2rem;
}

#stick {
	position: relative;
	top: -700px;
}

#one {
	position: relative;
	top: -200px;
}

#two {
	position: relative;
	top: 300px;
}

#three {
	position: relative;
	top: 900px;
}
